:root {
    --font-family-base: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-family-base);
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
}

.layout-mobile {
    margin-top: 10px;
}

.layout-pc {
    margin: 10px;
}

.layout-owa .action-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.layout-mobile .action-buttons {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.layout-pc .action-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.checkbox-group {
    position: absolute;
    bottom: -2px;
}

.checkbox-group .checkbox-label {
    font-family: var(--font-family-base);
}

.layout-pc .checkbox-group {
    bottom: 8px;
}

.message {
    margin: 0;
    overflow: hidden auto;
    word-wrap: break-word;
}

.message img {
    max-width: 100%;
}

.layout-owa .message {
    height: calc(100vh - 42px);
}

.layout-pc .message {
    height: calc(100vh - 56px);
}

.layout-mobile .message {
    max-height: calc(100vh - 224px);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626;
        color: #ffffff;
    }
}